
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: serif; */
    /* font-optical-sizing: auto;
    font-style: normal; */
}
.header{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    padding: 0px 50px ;
    box-shadow: 0px 0px 10px rgb(195, 190, 190);
}
.header .logo{
    width: 25%;
    height: 100%;
    /* background-color: brown; */
    align-items: center;
    display: flex;
}
.header .menu{
    width: 50%;
    height: 100px;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
}
.header .menu ul{
    display: flex;
}
.header .menu ul li{
    list-style-type: none;
    margin-right: 30px;
}
.header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    position: relative;
}
.header .menu ul li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: -5px;
    right: 50%;
    transition: all 0.3s;
}
.header .menu ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: -5px;
    left: 50%;
    transition: all 0.3s;
}
.header .menu ul li a:hover::before{
    width: 50%;
    transition: all 0.5s;
}
.header .menu ul li a:hover::after{
    width: 50%;
    transition: all 0.5s;
}
.header .icon{
    width: 25%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: right;
}
.header .icon ul{
    display: flex;
}
.header .icon ul li{
    list-style-type: none;
    margin-left: 25px;
    position: relative;
}
#login{
    font-size: 13px;
    color: rgb(84, 83, 83);
}
.header .icon ul li a{
    text-decoration: none;
    color: black;
}
.header .icon ul li i{
    font-size: 18px;
}
.header .icon ul li span{
    padding: 1px 6px;
    background-color: red;
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: 10px;
    border-radius: 10px;
    color: white;
}
/*===============Banner================== */
.banner{
    width: 100%;
    height: 80vh;
    /* background-color: aqua; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
   
}
.b1{
    width: 49%;
    height: 100%;
    background-color: red;
    position: relative;
}
.b1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.b1 .title{
    width: 500px;
    height: 250px;
    /* background-color: gold; */
    position: absolute;
    left:10px ;
    top: 30%;
}
.b1 .title h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    margin-bottom: 20px;
}
.b1 .title p{
    font-size: 20px;
    margin-bottom: 20px;
}
.b1 .title a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.b1 .title a::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -2px;
}
.b2{
    width: 50%;
    height: 100%;
    /* background-color: chartreuse; */
}
.b2 .b-up{
    width: 100%;
    height: 49%;
    /* background-color: chocolate; */
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}
.b2 .b-up .b-up-left{
    width: 49%;
    height: 100%;
    background-color: blue;
    position: relative;
}
.b2 .b-up .b-up-right{
    width: 49%;
    height: 100%;
    background-color: pink;
}
.b2  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.b2 .b-up .b-up-left .title2{
    width: 200px;
    height: 100px;
    /* background-color: aqua; */
    position: absolute;
    top: 25%;
    left: 10%;
}
.b-up-left .title2 h1{
    font-size: 25px;
    margin-bottom: 3px;
}
.b-up-left .title2 p{
    font-size: 15px;
    margin-bottom: 20px ;
}
.b-up-left .title2 a{
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
.b-up-left .title2 a::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -2px;
}
/* ==b=============Menu2 */
.menu2{
    width: 80%;
    height: 70px;
    /* background-color: aqua; */
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    
}
.menu2 .menu2-left{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    align-items: center;
    display: flex;
}
.menu2 .menu2-left h2{
    font-size: 28px;
    position: relative;
}
.menu2 .menu2-left h2::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: red;
    bottom: -5px;

}
.menu2 .menu2-right{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
.menu2 .menu2-right ul{
    display: flex;
}
.menu2-right ul li{
    list-style-type: none;
    margin-left: 31px;
}
.menu2-right ul li a{
    text-decoration: none;
    color: gray;
    position: relative;
}
#all::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    bottom: -5px;
}
/* ===============Product+++++++++ */
.product{
    width: 80%;
    height: 500px;
    /* background-color: green; */
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.product .item{
    width: 23%;
    height: 100%;
    /* background-color: aqua; */
}
.product .item .item-pic{
    width: 100%;
    height: 75%;
    background-color: blueviolet;
    position: relative;
    overflow: hidden;
}
.product .item .item-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.item .item-pic span{
    width: 24%;
    padding: 5px 10px;
    background-color: green;
    position: absolute;
    left: 5px;
    top: 10px;
    color: white;
    font-size: 12px;
}

.item .item-pic .item-icons{
    width: 100%;
    height:30%;
    /* background-color: aqua; */
    position: absolute;
    bottom: -30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
.item:hover .item-pic .item-icons{
    bottom: 0%;
    transition: 0.5s;
}
.item-pic .item-icons .box{
    width:50px;
    height: 50px;
    background-color: pink;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-pic .item-icons .box:hover{
    background-color: red;
}
.item-pic .item-icons .box:hover i{
    transform: rotate(360deg);
    transition: 0.5s;
    color: white;
}
.item-pic .item-icons .box i{
    font-size: 16px;
}
.product .item .item-text{
    width: 100%;
    height: 25%;
    /* background-color: burlywood; */
    padding: 20px 0px;
    text-align: center;
    transition: 0.5s;
}
.item .item-text span{
    font-size: 12px;
}
.item .item-text span i{
    color: gold;
}
/*============Collection============== */
.collection{
    width: 100%;
    height: 500px;
    /* background-color: blueviolet; */
    margin-top: 50px;
    position: relative;
}
.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection .text-col{
    width: 65%;
    height: 100%;
    /* background-color: red; */
    top: 0;
    left: 20%;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.collection .text-col .text{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.collection .text-col .text .box-text{
    width: 75%;
    height: auto;
    /* background-color: blue; */
    text-align: center;
    animation-name: run;
    animation-duration: 7s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes run{
    0%{
        transform: translate(-100%);
    }
    50%{
        transform: translate(0%);
        transition: 0.5s;
    }
    100%{
        transform: translate(100%);
        transition: 2s;
    }
}
/* ==================Arrive=========== */
.arrive{
    width: 85%;
    height: 500px;
    /* background-color: rebeccapurple; */
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.arrive .arr-item{
    width: 32%;
    height: 100%;
    /* background-color: pink; */
}
.arrive .arr-item .arr-item-text{
    width: 100%;
    height: 15%;
    /* background-color: palegreen ; */
}
.arrive .arr-item .arr-item-text h2{
    position: relative;
}
.arrive .arr-item .arr-item-text h2::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: red;
    bottom: -15%;
}
.arrive .arr-item .arr-item-box{
    width: 100%;
    height: 26%;
    /* background-color: palevioletred; */
    margin-bottom: 17px;
    display: flex;
}
.arrive .arr-item .arr-item-box .a-i-box-img{
    width: 30%;
    height: 70%;
    /* background-color: blue; */
}
.arrive .arr-item .arr-item-box .a-i-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrive .arr-item .arr-item-box .a-i-box-text{
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
    padding: 0px 20px;
}
.arrive .arr-item .arr-item-box .a-i-box-text span i{
    font-size: 10px;
    color: gold;
    margin: 10px 0px;
}
/* ===Discount=== */
.discount{
    width: 85%;
    height: 400px;
    background-color: gainsboro;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}
.discount .dis-box{
    width: 50%;
    height: 100%;
    /* background-color: pink; */
    text-align: center;
}
.discount .dis-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.discount .dis-box .dis-circle{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    padding: 50px 0px;
    margin-bottom: 30px;
}
#tagh1{
    width: 350px;
    position: absolute;
    /* background-color: aqua; */
    font-size: 50px;
    top: 38%;
    left: -26%;
    color: red;
}
.dis-box a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    bottom: -2px;
}
.dis-box span sup{
    font-size: 17px;
}
